%p.title 
  Editing configuration
  (
  = link_to "Back", configuration_path
  )

-form_for(@configuration) do |f|
  = f.error_messages
  
  %table.configuration    
    %tr
      %td= f.label :money_gift_value, "Money gift value:"
      %td= f.text_field :money_gift_value
    %tr  
      %td= f.label :full_permissions_to_researchers, "Full permissions to Researchers:"
      %td
        = f.radio_button :full_permissions_to_researchers, 'true'
        true
        = f.radio_button :full_permissions_to_researchers, 'false'
        false
    %tr  
      %td= f.label :researcher_can_invite_researcher, "A Researcher can invite another researcher:"
      %td
        = f.radio_button :researcher_can_invite_researcher, 'true'
        true
        = f.radio_button :researcher_can_invite_researcher, 'false'
        false
    %tr
      %td= f.label :card_gift_limit, "Card Gifts Limit per Day:"
      %td= f.text_field :card_gift_limit
    %tr
      %td= f.label :money_gift_limit, "Money Gifts Limit per Day:"
      %td= f.text_field :money_gift_limit
    %tr
      %td= f.label :item_gift_limit, "Item Gifts Limit per Day:"
      %td= f.text_field :item_gift_limit      
    %tr
      %td= f.label :starting_money, "Player's Starting Money:"
      %td= f.text_field :starting_money
    %tr
      %td= f.label :starting_cards, "Player's Starting Cards:"
      %td= f.text_field :starting_cards
    %tr
      %td= f.label :starting_cards_per_hour, "Starting Cards Per Hour:"
      %td= f.text_field :starting_cards_per_hour
    %tr
      %td= f.label :starting_hand_limit, "Starting Hand Limit:"
      %td= f.text_field :starting_hand_limit

    %tr
      %td= f.label :item_probability, "Item Probability:"
      %td= f.text_field :item_probability

    %tr
      %td= f.submit 'Update'