%p.title
  Auction for
  = @auction.item.item_type.name
  (
  = link_to 'Back', auctions_path
  )
%p
  It will end at
  = @auction.end_date
%p
  Your bid should be greater than:
  = minimum_bid(@auction)


- form_for(@auction) do |f|
  = f.error_messages
  %p
    = f.label :bid
    = f.text_field :bid
    
  %p
    = f.submit 'Make the bid'

