<h1>Editing trash</h1>

<% form_for(@trash) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @trash %> |
<%= link_to 'Back', trashes_path %>