<h1>Listing symmetric_function_games</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Number of strategies</th>
    <th>Number of players</th>
    <th>Color</th>
    <th>Function</th>
  </tr>

<% @symmetric_function_games.each do |symmetric_function_game| %>
  <tr>
    <td><%=h symmetric_function_game.name %></td>
    <td><%=h symmetric_function_game.description %></td>
    <td><%=h symmetric_function_game.number_of_strategies %></td>
    <td><%=h symmetric_function_game.number_of_players %></td>
    <td><%=h symmetric_function_game.color %></td>
    <td><%=h symmetric_function_game.function %></td>
    <td><%= link_to 'Show', symmetric_function_game %></td>
    <td><%= link_to 'Edit', edit_symmetric_function_game_path(symmetric_function_game) %></td>
    <td><%= link_to 'Destroy', symmetric_function_game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New symmetric_function_game', new_symmetric_function_game_path %>