<h1>New symmetric_function_game</h1>

<% form_for(@symmetric_function_game) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :number_of_players %><br />
    <%= f.text_field :number_of_players %>
  </p>
  <p>
    <%= f.radio_button :color, 'red' %>
    <%= f.label :color, 'red' %>

    <%= f.radio_button :color, 'yellow' %>
    <%= f.label :color, 'yellow' %>
    
    <%= f.radio_button :color, 'green' %>
    <%= f.label :color, 'green' %>
  </p>
  <p>
    <div id="number">
    <%= f.label :number_of_strategies %><br />
    <%= f.text_field :number_of_strategies %>
    </div>
  </p>
  <div id="st">
  <script>
    $("#number").focusout(function() {
      $("#st").html($("#number").val);
    });
  </script>


  </div>
  <p>
    <%= f.label :function %><br />
    <%= f.text_field :function %>
  </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', symmetric_function_games_path %>